<!-- 导航栏开始 -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
    <a href="index.html" class="navbar-brand d-flex align-items-center">
        <h1 class="m-0">E-TONG</h1>
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="index" class="nav-item nav-link active">首页</a>
            <a href="about" class="nav-item nav-link">关于我们</a>
            <a href="service" class="nav-item nav-link">服务</a>
            <a href="product" class="nav-item nav-link">产品</a>
            <a href="contact" class="nav-item nav-link">联系我们</a>
        </div>
    </div>
</nav>
<!-- 导航栏结束 -->