<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row g-0 d-none d-lg-flex">
        <div class="col-lg-6 ps-5 text-start">
            <div class="h-100 d-inline-flex align-items-center text-light">
                <span>Follow Us:</span>
                <a class="btn btn-link text-light" href="https://line.me/ti/p/~bruce1960"><i class="fab fa-line"></i></a>
                <a class="btn btn-link text-light" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-6 text-end">
            <div class="h-100 bg-secondary d-inline-flex align-items-center text-dark py-2 px-4">
                <span class="me-2 fw-semi-bold"><i class="fa fa-phone-alt me-2"></i>Call Us:</span>
                <span>+886 912 003 885</span>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Language Selection Dropdown -->
<div class="container-fluid py-2">
    <div class="d-flex justify-content-end align-items-center">
        <label for="language-select" class="form-label me-2 mb-0">Select Language:</label>
        <select id="language-select" class="form-select language-dropdown">
            <option value="en">English</option>
            <option value="zh-Hant">Chinese 中文</option>
        </select>
    </div>
</div>